# Windows 로컬 PC 전용 설정입니다. 네이버 ID/비밀번호는 저장하지 않습니다.
CLOUDFLARE_WORKER_API_URL=https://blog-test2-k36.pages.dev
LOCAL_AGENT_TOKEN=
NAVER_BLOG_ID=
NAVER_BLOG_CATEGORY=연예
PUBLISHER_POLL_MINUTES=5
BROWSER_PROFILE_PATH=C:\\Users\\YOUR_NAME\\blog-test2-naver-profile
HEADLESS=false
AUTO_SAVE_DRAFT=NO
